@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.active {
  color: #fc8019;
}

.carousel-btn {
  font-size: 20px;
  color: #414141;
  background-color: #e1e1e1;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carousel-btn-icon {
  font-size: 18px;
  color: #1a1a1a;
}

.carousel-box {
  display: flex;
  gap: 15px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.modal-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.disable-scrolling {
  height: 100vh;
  overflow: hidden;
}

/* 
.offer-modal {
  width: 200px;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurant-menu {
  margin-top: 40px;
}

.veg-filter {
  display: flex;
  gap: 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
}

.veg-filter > input {
  position: relative;
  top: 2px;
  cursor: pointer;
}

.top-picks-carousel {
  padding-block: 40px;
}

.top-picks-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-picks-header > h3 {
  font-size: 22px;
  font-weight: 500;
}



.top-pick-items {
  margin-top: 30px;
  display: flex;
  gap: 50px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.top-pick-item-card {
  position: relative;
}

.top-pick-item-card > img {
  width: 350px;
  border-radius: 20px;
}

.item-card-bottom {
  width: 100%;
  position: absolute;
  bottom: 30px;
  padding-inline: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-pick-item-card > span {
  font-size: 15px;
  font-weight: 500;
}

.add-item-btn {
  font-size: 13px;
  font-weight: 600;
  color: #60b246;
  text-transform: uppercase;
  background-color: #fff;
  padding-block: 8px;
  width: 80px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  cursor: pointer;
}

.menu-category,
.item-category {
  padding-block: 15px;
  border-bottom: 1px solid #cdcdcd;
}

.menu-category:last-of-type {
  border-bottom: none;
}

.menu-category-header,
.item-category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-category-header {
  cursor: pointer;
}

.menu-category-header > h3 {
  font-size: 17px;
  font-weight: 500;
  color: #484848;
}

.item-categories {
  margin-top: 8px;
}

.item-category:last-of-type {
  border-bottom: none;
  padding-block: 15px 0px;
}

.item-category-header > h4 {
  font-size: 15px;
  font-weight: 400;
}

.accordian-toggler {
  position: relative;
  top: 3px;
}

.menu-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
  padding-block: 25px 0px;
  border-bottom: 1px solid #cdcdcd;
}

.menu-item:last-of-type {
  border-bottom: none;
  padding-block: 25px 0px;
}

.menu-item-type > img {
  width: 17px;
  height: 17px;
}

.menu-item-name {
  margin-top: 6px;
  font-size: 17px;
  font-weight: 500;
}

.menu-item-price {
  margin-top: 8px;
  font-size: 15px;
}

.menu-item-description {
  margin-top: 8px;
  font-size: 14px;
  color: #616161;
}

.add-menu-item {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-menu-item > img {
  width: inherit;
  border-radius: 8px;
  cursor: pointer;
}

.add-menu-item > .add-item-btn {
  position: relative;
  bottom: 24px;
}

.menu-item-modal-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.menu-item-modal {
  width: 500px;
  background-color: #fff;
  border-radius: 12px;
  padding: 15px;
}

.menu-item-image {
  border-radius: 12px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
}

.menu-item-details {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu-type {
  width: 20px;
}

.about {
  padding: 30px 70px;
}

.about > h1 {
  font-weight: 500;
}

.user-card {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #000;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.user-card > h4 {
  font-weight: 500;
} */
