* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

.header {
  padding: 15px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.09);
}

.logo {
  width: 30px;
  position: relative;
  top: 3px;
}

.nav-items {
  list-style-type: none;
  display: flex;
  gap: 35px;
}

.body {
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  height: 45px;
  width: 400px;
  padding-inline: 12px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-size: 16px;
}

.search-btn {
  height: 45px;
  padding-inline: 14px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fc8019;
  color: #fff;
  transition: opacity 0.2s ease-in-out;
}

.search-btn:hover {
  cursor: pointer;
  opacity: 0.85;
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.restaurant-card {
  padding: 15px;
  border: 1px solid transparent;
}

.restaurant-card:hover {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.restaurant-image > img {
  width: 280px;
}

.restaurant-details {
  margin-top: 8px;
  width: 280px;
}

.name {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.cuisines {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 400;
}

.restaurant-details > div {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.rating {
  padding: 2px 7px;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
}

.good {
  background-color: #48c479;
}

.average {
  background-color: #db7c38;
}

.bad {
  background-color: #f04343;
}

.dash {
  background-color: #000;
  width: 3px;
  height: 1px;
}
